<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="false"
        android:supportsRtl="true">
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Chrome Tab List View Mod - Force single column list layout, hide thumbnails" />
        <meta-data
            android:name="xposedscope"
            android:value="com.android.chrome" />
        <meta-data
            android:name="xposedminversion"
            android:value="101" />
    </application>

</manifest>
